.card{
  width: 190px;
  height: 190px;
  background-color: #fff; 
  border-radius: 10px;
  position: relative;
  padding: 20px;
  border: 2px solid #ccc;
  transition: 0.3s ease-out;
  overflow:visible
}

.card-details{
  color:azure;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
  flex-direction: column;
}
/*hi*/
.card-button{
  transform: translate(-50%,125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease-out;

}

.text-body{
  color:beige;

}
.text-title{
  color:azure;
  font-size: 1.5em;
  font-weight: bold;
}

.card:hover{
border-color: black;
box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
}

.card:hover .card-button{
 
  transform: translate(-50%, 50%); 
  opacity: 1;
}