body{
  background: linear-gradient(to right, #3a0f12, #8b6a52);
}

h1{
  font-size: 51px;
  color: whitesmoke;
  text-decoration: aliceblue dotted underline;
}

p1, p2, p3{
  font-size: 21px;
  color: whitesmoke;
}

h2, h4, h5, h6{
  font-size: 35px;
  color: whitesmoke;
  text-decoration: dotted;
  text-shadow: beige;
}


h3,h5 {
  color:whitesmoke;
  font-size: 20px;
}



button3{
  color: white;
  font-size: 18px;
  background: linear-gradient(to left, white, rgb(221, 0, 0));
  border-radius: 25px;
  cursor: pointer;
  padding: 12px 25px;
  gap: 15px;
  flex-direction: row;
  display: flex;
  position: none;
  height: 10px;
  text-decoration: none underline;
  
}

button4{
  color: white;
  font-size: 18px;
  background: linear-gradient(to left, white, black);
  border-radius: 25px;
  cursor: pointer;
  padding: 12px 25px;
  gap: 15px;
  flex-direction: row;
  display: flex;
  position: none;
}

button5{
  color: white;
  font-size: 18px;
  background: linear-gradient(to left, white, black);
  border-radius: 25px;
  cursor: pointer;
  padding: 12px 25px;
  gap: 15px;
  flex-direction: row;
  display: flex;
  position: none;
}

button{
  color: white;
  font-size: 18px;
  background: linear-gradient(to left, white, black);
  border-radius: 25px;
  cursor: pointer;
  padding: 12px 25px;
  gap: 15px;
  flex-direction: row;
  display: flex;
  position: none;
}

button6{
  color: white;
  font-size: 18px;
  background: linear-gradient(to left, white, black);
  border-radius: 25px;
  cursor: pointer;
  padding: 12px 25px;
  gap: 15px;
  flex-direction: row;
  display: flex;
  position: none;
}


